.dialog-pane {
    -fx-background-color: #ADEED9;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 20px;
    -fx-font-family: "Tahoma";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.3, 0, 5);
}

.dialog-pane .header-panel {
    -fx-background-color: transparent;
}

.dialog-pane .content {
    -fx-background-color: transparent;
}

.dialog-pane .button-bar {
    -fx-background-color: transparent;
    -fx-padding: 10 0 0 0;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-pref-width: 250px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #8ecae6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #219ebc;
}
