/* style.css */

.root {
    -fx-background-color: #ADEED9;
}

.navbar {
    -fx-background-color: transparent;
    -fx-padding: 20px 40px;
    -fx-alignment: center-right;
}

.nav-item {
     -fx-background-color: #7AE2D6;
    -fx-text-fill: white;
    -fx-font-weight: light;
    -fx-padding: 6px 14px;
    -fx-background-radius: 16;    -fx-cursor: hand;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 13px;
    
}

.download-button {
    -fx-background-color: #7AE2D6;
    -fx-text-fill: white;
    -fx-font-weight: light;
    -fx-padding: 6px 14px;
    -fx-background-radius: 16;    -fx-cursor: hand;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 13px;
}

.hero-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #111111;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-max-width: 600px;
}

.hero-subtitle {
    -fx-font-size: 16px;
    -fx-text-fill: #444444;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-max-width: 600px;
}

.search-prompt {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #abacac;
    -fx-font-family: "Segoe UI", sans-serif;
}

.info-card {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20px;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 6, 0, 2, 2);
    -fx-spacing: 10px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.info-card:hover {
    -fx-background-color: #F8F8F8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 3, 3);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-font-family: "Segoe UI", sans-serif;
}

.card-body {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-max-width: 300px;
}

.rounded-textfield {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5 10 5 10;
}

.nav-link {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-cursor: hand;
}

.nav-link:hover {
    -fx-text-fill: #7AE2D6;
    -fx-underline: true;
}

.img {
  -fx-img-width: 200px;
  -fx-img-height: 200px;
  -fx-img-border-radius: 50%; /* Membuat gambar menjadi lingkaran */
  -fx-img-object-fit: cover; /* Menyesuaikan gambar agar tidak terdistorsi */
}

